# Dependencies
/node_modules

# Compiled output
/dist
/out
/.cache

# Logs
*.log

# Environment variables
.env
.env.local
.env.test
.env.production

# IDE files
.vscode
.history
.idea
*.iml

# Mac files
.DS_Store
